extends layout 

block content 
    nav
        div.wordContainer
            h1.wrd1
                a(href="/auth/home") Members
            h1.wrd2
                a(href="/auth/home") Only
        div.btnContainer
            if status == false
                button.primarybtn(type="button")
                    a(href="/auth/clubpage") Join the club
            button.primarybtn(type="button")
                a(href="/auth/newmsg") + New Message
            button.primarybtn(type="button")
                a(href="/auth/log-out") Logout
        
    h2.msgTitle= "Messages"

    section.messages
        if msgs && status == true
            each msg in msgs 
                div.msgContainer
                    h3 #{msg.subject}
                    p #{msg.message}
                    hr
                    div.postedContainer
                        p Sent from:  #{msg.author} 
                        p #{msg.formattedDate}
        else if msgs 
            each msg in msgs 
                div.msgContainer
                    h3 #{msg.subject}
                    p #{msg.message}
                    hr
                    p You must be a member to see who posted 
        else 
            p There are no messages right now :c